# Provider de IA (openai, openrouter)
AI_PROVIDER=openrouter
# URL base do provider (opcional para OpenAI, obrigatório para OpenRouter)
AI_BASE_URL=https://openrouter.ai/api/v1
# Chave de API do provider
OPENAI_API_KEY=

BETHA_RIBEIRAO_LOGIN=nome.ribeirao
BETHA_RIBEIRAO_SENHA=senha123!
BETHA_CONGONHAS_LOGIN=nome.congonhas
BETHA_CONGONHAS_SENHA=senha1234!